In [ ]:
print('F C')
C = 0
while C <= 250:
  F = 9 * C / 5 + 32
  print(F, C)
  C += 10

F C
32.0 0
50.0 10
68.0 20
86.0 30
104.0 40
122.0 50
140.0 60
158.0 70
176.0 80
194.0 90
212.0 100
230.0 110
248.0 120
266.0 130
284.0 140
302.0 150
320.0 160
338.0 170
356.0 180
374.0 190
392.0 200
410.0 210
428.0 220
446.0 230
464.0 240
482.0 250

In [ ]:
print('F C')
C = 0
while C <= 250:
  F = 9 * C / 5 + 32
  print('%4.0f %4.0f' % (F, C))
  C += 10

F C
  32    0
  50   10
  68   20
  86   30
 104   40
 122   50
 140   60
 158   70
 176   80
 194   90
 212  100
 230  110
 248  120
 266  130
 284  140
 302  150
 320  160
 338  170
 356  180
 374  190
 392  200
 410  210
 428  220
 446  230
 464  240
 482  250

In [ ]:
print(' F C')
for C in range(0, 250, 10):
  F = 9 * C / 5 + 32
  print('%4.0f %4.0f' % (F, C))

 F C
  32    0
  50   10
  68   20
  86   30
 104   40
 122   50
 140   60
 158   70
 176   80
 194   90
 212  100
 230  110
 248  120
 266  130
 284  140
 302  150
 320  160
 338  170
 356  180
 374  190
 392  200
 410  210
 428  220
 446  230
 464  240

In [ ]:
print(' F C')
for C in range(-50, 50, 5):
  F = 9 * C / 5 + 32
  print('%4.0f %4.0f' % (F, C))

 F C
 -58  -50
 -49  -45
 -40  -40
 -31  -35
 -22  -30
 -13  -25
  -4  -20
   5  -15
  14  -10
  23   -5
  32    0
  41    5
  50   10
  59   15
  68   20
  77   25
  86   30
  95   35
 104   40
 113   45

In [ ]:
Cs = [0, 10] # create list using []
Cs.append(20) # modify by appending an entry
Cs

[0, 10, 20]

In [ ]:
Cs = (0, 10) # create a tuple using ()

In [ ]:
Cs = [] # empty list
Fs = []
for C in range(0, 250, 25):
  Cs.append(C)
  Fs.append(9 * C / 5 + 32)

In [ ]:
print(Cs)

[0, 25, 50, 75, 100, 125, 150, 175, 200, 225]

In [ ]:
print(Fs)

[32.0, 77.0, 122.0, 167.0, 212.0, 257.0, 302.0, 347.0, 392.0, 437.0]

In [ ]:
print(' F C')
for C, F in zip(Cs, Fs):
  print('%4.0f %4.0f' % (F, C))

 F C
  32    0
  77   25
 122   50
 167   75
 212  100
 257  125
 302  150
 347  175
 392  200
 437  225

In [ ]:
Fs = [9 * C / 5 + 32 for C in Cs]