<a href="https://colab.research.google.com/github/ma22c041/ma22c041_2023_PL/blob/main/Assignment9/Pandas_from_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#task 1
import pandas as pd

d0 = {2: 'a', 1: 'b', 3: 'c'}
pd0 = pd.Series(d0)
print(pd0)

2    a
1    b
3    c
dtype: object

In [ ]:
#take 2
pd0 = pd0.sort_index()
print(pd0)

1    b
2    a
3    c
dtype: object

In [ ]:
#task 3
import pandas as pd

d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
dd = pd.DataFrame({'d1': d1, 'd2': d2})
print(dd)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
#task 4
# Indexing by column name
column_d1 = dd['d1']
column_d2 = dd['d2']
print(column_d1)
print(column_d2)

# Slicing rows
sliced_rows = dd[0:2]
print(sliced_rows)

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64
a    NaN
b    3.0
c    4.0
Name: d2, dtype: float64
    d1   d2
a  1.0  NaN
b  2.0  3.0

In [ ]:
# task 5 Implicit indexing using .loc
row_a = dd.loc['a']
value_b_d1 = dd.loc['b', 'd1']
print(row_a)
print(value_b_d1)

# Explicit indexing using .iloc
row_0 = dd.iloc[0]
value_0_1 = dd.iloc[0, 1]
print(row_0)
print(value_0_1)

d1    1.0
d2    NaN
Name: a, dtype: float64
2.0
d1    1.0
d2    NaN
Name: a, dtype: float64
nan

In [ ]:
#task 6 Forward fill along columns
dd_ffill = dd.ffill(axis=0)
print(dd_ffill)

# Backfill along rows
dd_bfill = dd.bfill(axis=1)
print(dd_bfill)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  4.0  4.0